* {
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}

.container {
    width: 1000px;
    border: solid white;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 1000px;
    margin: 25px;
}

button {
    width: 250px; 
    height: 50px;
    font-size: 20px;
    margin-top: 25px;
}

